.gradle
build/
.git

# Ignore Gradle GUI config
gradle-app.setting

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar

#IDEA
/Gradle 1.7.10 Workspace.iml
/BeastgirBull.iml
/.idea
*.iml